/*My Portfolio Homework #1
	Created 10/26/17
	Last updated 11/4/17
	Written by: Steve Harold*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto');

html,
body {
	height: 100%;
}

body * {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 2em;
}

body {
	display: flex;
	flex-direction: column;	
	margin: auto;
	background-image: url(../images/dark_wood.png); /*Background texture supplied by SubtlePatterns.com*/
}

.clear {
	clear: both;
}

/*header*/

header {
	float: left;
	display: inline;
	background-color:  #E8F1F2;
	width: 100%;
	height: 90px;
	margin-bottom: 40px;
}

#head-width {
	width: 960px;
	margin: auto;
}

h1 {
	float: left;
	margin: 0;
	background-color: #028090;
	padding: 5px 10px;
	font-size: 40px;
	font-weight: bold;
	color: #E8F1F2;
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 270px;
}

nav span {
	float: left;	
	border-left: #3A4660 solid 1px;
	color: #028090; 
}

nav span:first-child {
	border-left: 0px; 
}

nav span a {
	display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#span1 {
	width: 77.203px;
}

#span2 {
	width: 93.031px;
}

#span3 {
	width: 89.7px;
}

nav span a:visited {
	color: #028090;
}

nav span:hover {
	background-color: #028090;
}

nav span a:hover {
	color: #E8F1F2;
	background-color: #028090;
	font-weight: bold;
}

/*body of page*/

.body {
	width: 960px;
	margin: auto;
	overflow: hidden;
	flex: 1 0 auto;
}

/*about me*/

#about {
	background-color:  #E8F1F2;
	padding: 20px;
	margin: 0px auto auto auto;
	float: left;
	width: 610px;
	color: #3A4660;
}

#about p {
	padding-top: 20px;
}

#about p:nth-child(3)::first-letter {
	font-size: 30px;
	font-weight: bold;
}

#about h2 {
	margin-top: 0;
	padding: 0px 0 20px 0px;
	border-bottom: #3A4660 solid 2px;
	font-size: 35px;
	font-weight: bold;
	color: #028090;
	
}

#me {
	background: url(../images/me.jpg) 35% 20% no-repeat;
	float: left;
	margin: 30px 15px 0 0;
	padding: 30px 20px 0 0;
	height: 200px;
	width: 200px;
}

/*contact page*/

#contact {
	background-color:  #E8F1F2;
	padding: 20px;
	margin-top: 0px;
	float: left;
	width: 610px;
	color: #3A4660;
}

#contact h2 {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0px 0 20px 0px;
	border-bottom: #3A4660 solid 2px;
	font-size: 35px;
	font-weight: bold;
	color: #028090;
}

input {
	margin: 0px auto 10px auto;
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
}

#submit {
	background-color: #E8F1F2;
	color: #028090;
	margin-top: 15px;
	border: #028090 solid 2px;
	width: 78.25px;
	text-align: center;
	padding: 0px;
}

#submit:hover {
	background-color: #028090;
	color: #E8F1F2;
	font-weight: bold;
}

/*connect with me*/

.connect {
	background-color: #E8F1F2;
	width: 240px;
	float: right;
	margin-top: 0px;
	padding: 15px 15px 15px 15px;
}

.connect h3 {
	border-bottom: black solid 1px;
	padding-bottom: 10px;
	font-size: 27px;
	margin-top: 0;
	font-weight: bold;
	color: #028090;
}

.connect img {
	width: 65px;
	height: 65px;
	padding: 5px;
	margin: 15px 0 0 0;
}

.connect a img:hover {
	background-color:  #028090;
}

/*portfolio*/

#portfolio {
	background-color:  #E8F1F2;
	padding: 20px;
	margin: 0px auto auto auto;
	float: left;
	width: 610px;
	color: #3A4660;
}

#portfolio h2 {
	margin-top: 0;
	padding: 0px 0 20px 0px;
	border-bottom: #3A4660 solid 2px;
	font-size: 35px;
	font-weight: bold;
	color: #028090;
}

#first {
	background: url(../images/website.jpg) 50% 50% no-repeat;
	width: 285px;
	height: 225px;
}

#second {
	background: url(../images/blog.jpg) 50% 50% no-repeat;
	width: 285px;
	height: 225px;
}

#third {
	background: url(../images/movie.jpg) 50% 50% no-repeat;
	width: 285px;
	height: 225px;
}

#fourth {
	background: url(../images/games.jpg) 50% 50% no-repeat;
	width: 285px;
	height: 225px;
}

#fifth {
	background: url(../images/news.jpg) 50% 50% no-repeat;
	width: 285px;
	height: 225px;
}

#first,
#third,
#fifth {
	float: left;
	margin-top: 40px;
	position: relative;	
}

#second,
#fourth {
	float: right;
	margin-top: 40px;
	position: relative;
}

#portfolio h4 {
	background-color: #028090;
	text-align: center;
	color: #E8F1F2;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
}

#portfolio a:hover h4 {
	background-color: #E8F1F2;
	color: #028090;
	padding-bottom: 6px;
	font-weight: bold;
}

#portfolio a:hover {
	opacity: 60%;
	border: #028090 solid 4px;
	width: 277px;
	height: 217px;
}

/*footer*/

footer {
	height: 70px;
	color: #E8F1F2;
	text-align: center;
	padding: 40px;
	margin-top: 40px;
	background-color: #3A4660;
	border-top: #028090 solid 10px;
}

footer p {
	font-size: 12px;
}