/*My Portfolio Homework #1
  Created 10/26/17
  Written by: Steve Harold*/

* {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

body {
	
	margin: auto;
	background-color: #3a4660;
}

.clear {
	clear: both;

}

/*header*/

header {
	float: left;
	display: inline;
	background-color:  #c9af98;
	width: 100%;
	margin-bottom: 40px;
}

h1 {
	float: left;
	margin: 0 0 0 10%;
	background-color:  #845007;
	padding: 20px 10px;
	font-size: 35px;
}

nav {
	float: right;
	margin: 27px;
	margin-right: 10%;
}

nav span {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	border-left: black solid 1px;
	
}

#noborder {
	border-left: #c9af98 solid 1px;
}

nav span a {
	display: inline-block;
    text-align: center;
    text-decoration: none;
}

/*body of page*/

.body {
	max-width: 80%;
	margin: auto;
}

/*about me*/

#about {
	background-color:  #c9af98;
	padding: 10px;
	margin-top: 40px;
	float: left;
	max-width: 65%;
}

#about h2 {
	margin-top: 0;
	padding: 10px 0 20px 10px;
	border-bottom: black solid 2px;
	font-size: 30px
}

#about img {
	float: left;
	margin: 10px;
}

/*CONTACT INFO*/

.contact {
	background-color: #c9af98;
	max-width: 375px;
	float: right;
	margin-top: 40px;
	padding: 0px 15px 15px 15px;
}

.contact h3 {
	border-bottom: black solid 1px;
	padding-bottom: 10px;
	font-size: 22px;
	margin-top: 10px;
}

.contact img {
	width: 90px;
	height: 90px;
	padding: 10px 5px;
}

/*footer*/

footer {
	text-align: center;
	padding: 15px;
	margin-top: 0px;
	background-color: #845007;
	border-top: #3a4660 solid 40px;
}