/*My Portfolio Homework #1
  Created 10/26/17
  Last updated 10/31/17
  Written by: Steve Harold*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body * {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 2em;
}

body {	
	margin: auto;
	background-color: #8693AB;
}

.clear {
	clear: both;
}

/*header*/

header {
	float: left;
	display: inline;
	background-color:  #E8F1F2;
	width: 100%;
	height: 90px;
	margin-bottom: 40px;
}

h1 {
	float: left;
	margin: 0 0 0 10%;
	background-color:  #028090;
	padding: 10px 10px;
	font-size: 35px;
	font-weight: bold;
	color: #E8F1F2;
}

nav {
	float: right;
	margin: 25px;
	margin-right: 10%;
}

nav span {
	float: left;
	margin-right: 20px;
	padding-left: 20px;
	border-left: black solid 1px;
}

nav span:first-child {
	border-left: 0px; 
}

nav span a {
	display: inline-block;
    text-align: center;
    text-decoration: none;
}

/*body of page*/

.body {
	width: 80%;
	margin: auto;
}

/*about me*/

#about {
	background-color:  #E8F1F2;
	padding: 20px;
	margin-top: 0px;
	float: left;
	max-width: 65%;
	color: #3A4660;
}

#about p {
	padding-top: 20px;
}

#about h2 {
	margin-top: 0;
	padding: 10px 0 20px 10px;
	border-bottom: black solid 2px;
	font-size: 30px;
	font-weight: bold;
	color: #028090;
}

#about img {
	float: left;
	margin: 10px 10px 0 10px;
	padding: 20px 20px 0 0;
}

/*contact info*/

.contact {
	background-color: #E8F1F2;
	max-width: 360px;
	float: right;
	margin-top: 0px;
	padding: 0px 15px 15px 15px;
}

.contact h3 {
	border-bottom: black solid 1px;
	padding-bottom: 10px;
	font-size: 22px;
	margin-top: 10px;
	font-weight: bold;
	color: #028090;
}

.contact img {
	width: 80px;
	height: 80px;
	padding: 15px 5px 0 5px;
}

/*footer*/

footer {
	text-align: center;
	padding: 15px;
	margin-top: 0px;
	background-color: #028090;
	border-top: #8693AB solid 40px;
}